/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* Форма */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.search-form input[type='text'] {
  width: 272px;
  height: 36px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  outline: none;
}
.search-form input[type='text']:hover {
  border-color: #000000;
}
.search-form input[type='text']:focus {
  border-color: #4e75ff;
}

.search-btn {
  width: 100px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-btn:hover {
  background-color: #6c8cff;
}

/* Галерея */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 0 auto 32px;
  max-width: 1200px;
  list-style: none;
}

.photo-card {
  flex-basis: calc((100% - 2 * 24px) / 3);
  max-width: 360px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #808080;
}

.gallery__link {
  display: block;
  text-decoration: none;
}

.gallery__image {
  width: 358px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  background-color: #fff;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 2;
  color: #2e2f42;
  margin: 0;
}
.info-item b {
  font-weight: 600;
  line-height: 1.5;
}
.info-item span {
  font-weight: 400;
  line-height: 1.5;
}

/* Кнопка Load more та лоадер */
.load-more-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.load-more-btn {
  width: 138px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more-btn:hover {
  background-color: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  border: 4px solid #ddd;
  border-top-color: #4e75ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;

  position: static;
  transform: none;
  font-size: 0;
}

.is-hidden {
  display: none !important;
}
